@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Noto+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Noto Serif', serif;
    background-color: $primary-background;
    color: $primary-color;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: $secondary-background;
    color: $secondary-color;
}

h3 {
    background-color: $secondary-background;
    color: $secondary-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $secondary-color;
}