@keyframes wave {
    0% {
      color: $primary-color;
      transform: rotate(0deg);
    }
    10% {
      color: rgb(74, 18, 110);
      transform: rotate(-10deg);
    }
    80% {
        color: #bb4426;
        transform: rotate(10deg);
    }
    100% {
    color: $primary-color;
    transform: rotate(0deg);
    }
}

.Header, .Footer {
    padding: $base-padding;
    background-color: $secondary-background; 
}

.Header {
    @include display(row, space-between);
    position: fixed;
    top: 0;
    width: 100vw;

    ul {
        @include display(row, space-between);
    }

    button {
        padding: $base-button-padding;
        border: none;
        border-radius: $base-border-radius;
        box-shadow: $base-box-shadow;
        background-color: $primary-background;
        color: $primary-color;
        font-weight: 600;
        transition: 200ms all ease-in-out;
        cursor: pointer;
        position: relative;
    }

    button:hover {
        transform: translateY(3px);
        border: none;
        box-shadow: none;
        background-color: $primary-color;
        color: $secondary-background;
        font-weight: 600;
    }
}

.Footer .wave-link {
    display: inline-block;
    position: relative;
    color: $primary-color;
    transition: color 0.3s ease;
}

.Footer .wave-link:hover {
    animation: wave 2s linear;
}



